/* Move all images to center and resize them */
.image {
    height: 500px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

/* Add margins to lists */
ul,
ol,
li {
    list-style-position: inside;
}

/* Align each list point to the left */
li {
    text-align: left;
}

/* Define font type and fallbacks */
.heading,
.text {
    font-family: sans-serif, Arial, Helvetica;
}

/* Align headings to the center */
.heading {
    text-align: center;
}

/* Align all text to the center and add margins */
.text {
    font-size: 17px;
    text-align: center;
    display: block;
    margin-left: 300px;
    margin-right: 300px;
    width: auto;
}