/* Move all images to center and resize them */
.image {
    height: 500px;
    width: auto;
    display: block;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

/* Add background color to main content */
h1,
.main {
    background-color:antiquewhite;
    padding: 25px 25px;
    margin-left: 300px;
    margin-right: 300px;
}

/* Style h2 headings and add lines before and after */
h2 {
    font-family: sans-serif, Arial, Helvetica;
    margin: 50px auto;
    max-width: 500px;
    position: relative;
}

h2:before {
    content: "";
    display: block;
    width: 130px;
    height: 2px;
    background: #000;
    left: 0;
    top: 50%;
    position: absolute;
}
  
h2:after {
    content: "";
    display: block;
    width: 130px;
    height: 2px;
    background: #000;
    right: 0;
    top: 50%;
    position: absolute;
}

/* Align each list point to the left */
li {
    text-align: left;
}

/* Define font types and style */
.heading,
.text {
    font-family: sans-serif, Arial, Helvetica;
    text-align: center;
    line-height: 24px;
}

/* Change font size and add margins */
.text {
    font-size: 17px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    list-style-position: inside;
}