/* Move all images to center and resize them */
.image {
    height: 500px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

/* Move all text to the center and add margins */
.text {
    text-align: center;
    display: block;
    margin-left: 300px;
    margin-right: 300px;
    width: auto;
}